#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
/* 
@keyframes slide-up-and-fade-out {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 1;
    transform: translateY(-30%);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

.animate-slide-up-and-fade-out {
  animation: slide-up-and-fade-out 3s ease-out forwards;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;
